.main-img{
    text-align: center;
    margin-top: 30px;
}

.main-box{
    background-color: gainsboro;
    align-items: center;
    margin: 100px 80px 100px 80px;
    padding: 60px;

}
ul{
    font-size: 25px;
    margin: 20px;
}

p{
    font-size: 19px;
    
}

.img-nd{
    text-align: center;
    margin-top: 30px;

}

a{
    text-decoration: none;
}

.container{
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}
